In [14]:
import pandas as pd

In [18]:
class UserItemData:
    def __init__(self, path) -> None:
        self.path = path
        #self.from_date = from_date
        #self.to_date = to_date
        #self.min_ratings = min_ratings

    def read(self):
        df = pd.read_fwf(self.path)
        return df

uim = UserItemData('data/user_ratedmovies.dat')
print(uim.read())

       userID\tmovieID\trating\tdate_day\tdate_month  date_year  date_hour  \
0                 75\t3\t1\t29\t10\t2006\t23\t17\t16        NaN        NaN
1              75\t32\t4.5\t29\t10\t2006\t23\t23\t44        NaN        NaN
2                75\t110\t4\t29\t10\t2006\t23\t30\t8        NaN        NaN
3               75\t160\t2\t29\t10\t2006\t23\t16\t52        NaN        NaN
4               75\t163\t4\t29\t10\t2006\t23\t29\t30        NaN        NaN
...                                              ...        ...        ...
855593        71534\t44555\t4\t3\t12\t2007\t3\t5\t38        NaN        NaN
855594       71534\t46578\t4\t3\t12\t2007\t2\t56\t44        NaN        NaN
855595     71534\t48516\t4.5\t3\t12\t2007\t2\t53\t46        NaN        NaN
855596       71534\t61075\t5\t10\t10\t2008\t9\t56\t5        NaN        NaN
855597    71534\t62049\t4.5\t10\t10\t2008\t9\t58\t10        NaN        NaN

        date_minute  date_second
0               NaN          NaN
1               NaN          NaN
2               NaN          NaN
3               NaN          NaN
4               NaN          NaN
...             ...          ...
855593          NaN          NaN
855594          NaN          NaN
855595          NaN          NaN
855596          NaN          NaN
855597          NaN          NaN

[855598 rows x 5 columns]